.c-carousel {
  position: relative;

  &--large {
    width: 98vw;
    height: 41vw;
  }

  &--medium-large {
    width: 87vw;
    height: 37vw;
  }

  &--medium {
    width: 77vw;
    height: 33vw;
  }

  &--small {
    width: 58vw;
    height: 25vw;
  }

  &--verysmall {
    width: 45vw;
    height: 19vw;
  }

  &__inner {
    position: relative;
  }
}
